{% extends 'authentication/email/base.html' %}

{% block title %}Password Reset Request{% endblock %}

{% block greetings %}
<p>Hello from <a href="{{ domain }}">{{ domain }}</a>,</p>
{% endblock %}

{% block content %}
<p>You're receiving this e-mail because you or someone else has requested a password for your user account.</p>
<p>It can be safely ignored if you did not request a password reset. Click the link below to reset your password.</p>

<p>uid: {{ uid }}</p>
<p>token: {{ token }}</p>

<a href="{{ protocol }}://{{ domain }}{{ new_password_url }}?uid={{ uid }}&token={{ token }}">Click here to reset password</a>
{% endblock %}